/**1px边框**/
//$position指定边框位置
//$color指定边框颜色
@mixin onepx($position,$color) {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @if ($position=="top") {
      border-top: 1px solid $color;
    } @else if($position=="right") {
      border-right: 1px solid $color;
    } @else if($position=="bottom") {
      border-bottom: 1px solid $color;
    } @else if($position=="left") {
      border-left: 1px solid $color;
    }
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
  & {
    position: relative;
    border: none;
  }
}

/**
**根据drp动态计算字体大小
**/
@mixin font-dpr() {
  font-size: $font-size * 1;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }
}

/**
**超出长度显示省略号
**/
@mixin ell() {
    overflow: hidden;
-ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**
**超出多行文字时候显示省略号
** $line参数为显示的行数
**/
@mixin morell($line){
  display: -webkit-box;
  overflow: hidden;
  white-space: normal!important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}


/**
**清除浮动
**/
@mixin clearfix {
    &:after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        line-height: 0;
        overflow: hidden;
    }
    *height: 1%;
}